<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/style.css">


</head>

<body class="center">







<%=yield%>













<footer>
  <a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a><br>
  <p> Come let us march toward the end of all reason </p>
  <a href="/aboutus" target="_blank"> About Us </a> <br>
</footer>


</body>
</html>
