<!DOCTYPE html>
<html>



<body>

<form method="post" action="/final">
<h1> Your <img src = "/images/extralarge.png"  width="42" height="42"> <br> <%=size[0]%> pizza with: </h1>

  <%conf.each do |blah|%>
    <%if blah == "on"%>
      <%conf.delete(blah)%>
    <%else%>
      <img src = "/images/<%=blah%>.png"  width="42" height="42"> <br>
      <h1>  <%=blah%> </h1>
    <%end%>
   <%end%>

   <%conf.insert(0, size)%>



 <h1> Will be delivered to: </h1> <br>
  <img src = "/images/delivery.png"  width="42" height="42"> <br>
<h1>  <%=address%> </h1> <br>


<h3> Would you like to add another pizza? </h3>
    <input type="radio" name = "bzzz" value="yes"> Yes
    <input type="radio" name = "bzzz" value="no"> No
    <!-- <a id = "more" href="/" target="_self"> Add Pizza </a><br> -->

<div id  = ugh> </div>

<input type = 'submit'>

</form>








<script>

  function pizzas(conf) {
    var pies = [];
    var stuff = pies.push(conf)
    var pp = document.createElement('input');
    pp.type = "hidden";
    pp.name = "grrr";
    pp.value = stuff;
    ugh.appendChild(pp);
  }

</script>






</body>
</html>
