<!DOCTYPE html>
<html>



<body>
<h1> Your <%=size%> pizza with: </h1>

  <%conf.each_pair do |choice, value|%>
    <%conf[:choice]%>

  <%end%>

 <h1> Will be delivered to: </h1> <br>

<h1>  <%=address%> </h1> <br>


 <h1> Thank you kindly for your order from Durzo's pizza! </h1>






















</body>
</html>
