<!DOCTYPE html>
<html>
<head>
<script src = /js/wb.js> </script>

</head>

<body>


<h1> Welcome to Durzo's Pizza!!! </h1>

<h2> Please make your selections: </h2>


<form method = "post" action = "/select">
  <h3> Choose your meats: </h3>
  <img src = "/images/pepperoni.png"  width="42" height="42">
  <input  type = "checkbox" name = "meats[]" value = "pepperoni"> Pepporoni <br>
  <img src = "/images/sausage.png"  width="42" height="42">
  <input type = "checkbox" name = "meats[]" value = "sausage"> Sausage <br>
  <img src = "/images/phillysteak.png"  width="42" height="42">
  <input type = "checkbox" name = "meats[]" value = "phillysteak"> Philly Steak <br>
  <img src = "/images/bacon.png"  width="42" height="42">
  <input type = "checkbox" name = "meats[]" value = "Bacon"> Bacon <br>
  <h3> Choose your veggies: </h3>
  <img src = "/images/onion.png"  width="42" height="42">
  <input type = "checkbox" name = "veggies[]" value = "onion"> Onion <br>
  <img src = "/images/greenpepper.png"  width="42" height="42">
  <input type = "checkbox" name = "veggies[]" value = "greenpepper"> Green Pepper <br>
  <img src = "/images/olives.png"  width="42" height="42">
  <input type = "checkbox" name = "veggies[]" value = "olives"> Olives <br>
  <img src = "/images/spinach.png"  width="42" height="42">
  <input type = "checkbox" name = "veggies[]" value = "spinach"> Spinach <br>
  <h3> Choose your Cheese: </h3>
  <img src = "/images/extra.png"  width="42" height="42">
  <input type = "checkbox" name = "cheese[]" value = "extra"> Extra <br>
  <img src = "/images/provolone.png"  width="42" height="42">
  <input type = "checkbox" name = "cheese[]" value = "provolone"> Provolone <br>
  <img src = "/images/parmessan.png"  width="42" height="42">
  <input type = "checkbox" name = "cheese[]" value = "parmessan"> Parmessan <br>
  <img src = "/images/asiago.png"  width="42" height="42">
  <input type = "checkbox" name = "cheese[]" value = "asiago"> Asiago <br>
  <h3> Choose your size: </h3>
  <img src = "/images/extralarge.png"  width="42" height="42">
  <input type = "radio" name = "size" value = "extralarge" checked> Extra Large <br>
  <img src = "/images/large.png"  width="42" height="42">
  <input type = "radio" name = "size" value = "large"> Large <br>
  <img src = "/images/medium.png"  width="42" height="42">
  <input type = "radio" name = "size" value = "medium"> Medium <br>
  <img src = "/images/small.png"  width="42" height="42">
  <input type = "radio" name = "size" value = "small"> Small <br>
  <h3> Delivery? </h3>
  <img src = "/images/delivery.png"  width="42" height="42"> <br>
  <input type = "radio" name = "delivery" value = "Yes" checked> Yes <br>
  <input type = "radio" name = "delivery" value = "No "> No <br>
  <input type = "submit">
</form>















</body>
</html>
