<!DOCTYPE html>
<html>
<head>


</head>

<body>


<h1> Welcome to Durzo's Pizza!!! </h1>

<h2> Please make your selections: </h2>


<form method = "post" action = "/select">
  <h3> Choose your meats: </h3>
  <input  type = "checkbox" name = "meats[]" value = "Pepperoni"> Pepporoni <br>
  <input type = "checkbox" name = "meats[]" value = "Sausage"> Sausage <br>
  <input type = "checkbox" name = "meats[]" value = "PhillySteak"> Philly Steak <br>
  <input type = "checkbox" name = "meats[]" value = "Bacon"> Bacon <br>
  <h3> Choose your veggies: </h3>
  <input type = "checkbox" name = "veggies[]" value = "Onion"> Onion <br>
  <input type = "checkbox" name = "veggies[]" value = "GreenPepper"> Green Pepper <br>
  <input type = "checkbox" name = "veggies[]" value = "Olives"> Olives <br>
  <input type = "checkbox" name = "veggies[]" value = "Spinach"> Spinach <br>
  <h3> Choose your Cheese: </h3>
  <input type = "checkbox" name = "cheese[]" value = "Extra"> Extra <br>
  <input type = "checkbox" name = "cheese[]" value = "Provolone"> Provolone <br>
  <input type = "checkbox" name = "cheese[]" value = "Parmessan"> Parmessan <br>
  <input type = "checkbox" name = "cheese[]" value = "Asiago"> Asiago <br>
  <h3> Choose your size: </h3>
  <input type = "checkbox" name = "size[]" value = "ExtraLarge"> Extra Large <br>
  <input type = "checkbox" name = "size[]" value = "Large"> Large <br>
  <input type = "checkbox" name = "size[]" value = "Medium"> Medium <br>
  <input type = "checkbox" name = "size[]" value = "Small"> Small <br>
  <h3> Delivery? </h3>
  <input type = "checkbox" name = "delivery[]" value = "Yes"> Yes <br>
  <input type = "checkbox" name = "delivery[]" value = "No"> No <br>
  <input type = "submit">
</form>















</body>
</html>
